:root {
    --primary-color: #314507;
    --white: #ffffff;
    --black: #0E0E0E;
    --off-white-green: #EDF2E5;
}

body {
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
}

a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

a,
a:hover {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 45px;
    line-height: 55px;
}

h2 {
    font-size: 36px;
    line-height: 43px;
}

h3 {
    font-size: 23px;
    line-height: 28px;
}

ul li {
    list-style: none;
}

/* main css */
.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width:300px;
    height: 100%;
    position: fixed;
    background-color: var(--primary-color);
    color: var(--white);
}

.menu-item .menu{
    position: relative; 
    width: 100%;
    border-bottom: 1px solid #557523;
    background-color: #3a5f00;
}


.menu-item .menu .menu_anchor{
    padding: 1.45em 2em;
    display: block;
    font-size: 1.1rem;
    color: var(--white);
}
.content{
    margin-left: 300px;
    box-sizing:border-box ;
}


.site-logo img{
    width: 100%;
    height: 100%;
}
#siteId{
    background-color: var(--white);
}
#siteId>div{
    position: relative;
    width: 100%;
    padding-top: 71.9230769231%;
}
#siteId>div>#siteid_anchor{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#siteId>div>#siteid_anchor>#siteid_poweredby{
    font-size: 0.9rem;
    color: var(--primary-color);
}
#siteId>div::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #e1e1e1;
}
.menu-item .menu span.bg{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    opacity: 0.3;
    background-color: #711d51;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition-property: width, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    color: var(--white)!important;
}
.m-active span.bg{
    width: 100%;
    
}
.m-inactive span.bg{
    width: 0;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    transition-delay: .1s;
}